// Color
$primary-color: #fdc632;
$secondary-color: #002347;
$gray-color: #7b838a;
$bg-gray: #f9f9ff;
$transparent: transparent;

// Font-Familly
$primary-font: 'Rubik', sans-serif;
$secondary-font: 'Roboto', sans-serif;

// Font-Size
$nav-fs: 14px;
$btn-fs: 13px;
$p-fs: 16px;
$h1-fs: 48px;
$h2-fs: 36px;
$h3-fs: 20px;

// Font-Weight
$fw-500: 500 !important;
$fw-600: 600 !important;
$fw-700: 700 !important;
$fw-800: 800 !important;

// Margin
$m-0: 0;

// Padding
$p-0: 0;
$p-btn: 15px 48px; 

// Shadow